body {
	padding-top: 70px;
}

#content {
	margin-bottom: 60px;
}

footer {
	background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
	background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
	background-repeat: no-repeat;
	border-bottom: 1px solid #178acc;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	-webkit-filter: none;
	filter: none;
	padding: 20px 0 0 0;
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

footer a {
	color: #ffffff;
}

footer .social-icons a {
	margin-left: 30px;
}

.footer-menu {
	margin-bottom: 30px;
}

.footer-menu a {
	font-size: 1.1em;
}

/* Homepage layout */
body.homepage {
	padding-top: 0px;
}

.jumbotron {
	/* convert Bounty_in_Mid-City_New_Orleans.jpg -colorspace RGB -strip -quality 30 vegetables.jpeg */
	background-image:url('../images/vegetables.jpeg'); /* around 4194px × 2166px */
	background-attachment:fixed;
	background-position:center bottom;
	background-size:cover;
	position:relative;
	width:100%;
	height:725px;
}

.jumbotron .hero {
	background-attachment: fixed;
	margin: 0 auto;
	padding:120px 0 220px;
	width: 100%;
}
.jumbotron .container {
	text-align:center;
}
.jumbotron h1 {
	font-size:80px;
	font-weight:700;
	color:#fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9);
}
.jumbotron p {
	color:#fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9);
	font-size:25px;
}

@media (max-width:768px) {
	.jumbotron {
		height: 300px;
	}
	.jumbotron .hero {
		padding: 0 0 220px;
	}
}