body {
	padding-top: 70px;
}

header.navbar {
/*	background-color: rgba(248, 248, 248, 0.7);*/
    opacity: 0.7;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

header.navbar:hover {
    opacity: 1.0;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

#content {
    margin-bottom: 120px;
}

